.container {
  text-decoration: none;
  margin: 2rem;
}

.secondContainer {
  display: flex;
  align-items: center;
  &:hover > .chevron {
    transform: translateX(.8rem);
  }
}

.text {
  font-size: 2rem;
  color: #000;
}

.chevron {
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease-out;
  margin-left: 1rem;
}